.file__container {
  text-align: center;
  max-width: 90vw;
  margin: 0 auto;
}

.file__container h3 {
  margin-top: 0;
  padding-top: 3rem;
}

.file__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  justify-items: center;
}

.files__header {
  font-size: 30px;
  font-weight: 600;
  color: #176b87;
  text-decoration: underline;
}
.file__item {
  width: 15rem;
  margin: 1rem 1rem;
  border: 2px solid grey;
  border-radius: 5px;
  padding-bottom: 0.5rem;
}

.file__item > img {
  width: 100%;
  height: 10rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  object-fit: cover;
}

.file__item > .img {
  width: 100%;
  height: 10rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #176b87;
  color: white;
}

.file__item > .img > p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4rem;
  letter-spacing: 0.8rem;
}

.file__item > p {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.file__item > button {
  height: 30px;
  border-radius: 5px;
  background-color: #176b87;
  border: transparent;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  color: white;
  margin-left: 1rem;
  transition: background-color 0.4s;
}

.file__item > button:hover {
  color: #176b87;
  background: none;
}
