/* ============= GLOBAL CSS =============== */

/* ============= PROJECT CSS =============== */
nav {
  background: #001c30;
  color: white;
}

.nav-header {
  cursor: pointer;
}

.nav-header h1 {
  color: white;
}

.div-2 {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  align-items: center;
}

.div-2 span {
  font-weight: 600;
  font-size: 18px;
}

.div-2 Button {
  color: white;
}

.nav-center h3 {
  cursor: pointer;
  margin-top: 1.6rem;
  margin-left: 2.5rem;
  color: white;
}

.nav-center a:link {
  text-decoration: none;
}

.nav-center h3:link {
  text-decoration: none;
}

/* 160px */

.nav-center {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
